asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
bkcharts==0.2
bokeh==0.12.6
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
constantly==15.1.0
cryptography==3.2
cssselect==1.0.1
cycler==0.10.0
Django==1.10.6
django-haystack==2.6.1
gunicorn==19.7.1
hyperlink==17.2.1
idna==2.5
incremental==17.5.0
jieba==0.38
Jinja2==2.9.6
lxml==3.8.0
MarkupSafe==1.0
matplotlib==2.0.2
numpy==1.13.1
pandas==0.20.3
parsel==1.2.0
pkg-resources==0.0.0
psycopg2==2.7.1
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.18
PyDispatcher==2.0.5
PyMySQL==0.7.11
pyOpenSSL==17.1.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
queuelib==1.4.2
redis==2.10.5
requests==2.18.1
Scrapy==1.4.0
scrapy-redis==0.6.8
service-identity==17.0.0
six==1.10.0
tornado==4.5.1
Twisted==17.5.0
urllib3==1.21.1
uWSGI==2.0.15
w3lib==1.17.0
Whoosh==2.7.4
zope.interface==4.4.2
