
/* ------------------------------------------------------------------------------
   Typography
-------------------------------------------------------------------------------*/


@import url(http://fonts.googleapis.com/css?family=Source%20Sans%20Pro:300,400,500,600,700);
/* ------------------------------------------------------------------------------
   Global Styles
-------------------------------------------------------------------------------*/


body {
	font-family: "Source Sans Pro";
	font-weight: 300;
	font-size:13px;
	letter-spacing:1px;
	line-height:1.8em;
}
p {
	color: #888;
}
h1, h2, h3, h5, h6 {
	font-weight: 400;
}
h4 {
	font-weight: 300;
	font-size: 15px;

}
a {
	color: #ff5335;
}
a:hover {
	color: #d92709;
	text-decoration: none;
}
a:focus {
	outline: none;
}
img {
	max-width: 100%;
	height: auto;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* ------------------------------------------------------------------------------
   main
-------------------------------------------------------------------------------*/
   
.main {
	background-size: cover;
	padding: 3em 0 4.5em;
	position: relative !important;
	color: #fff;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(27, 32, 38, 0.5);
	top: 0;
}
.logo {
	text-align: center;
	margin-bottom: 2.25em;
}
.main h1 {
	font-size: 36px;
	font-weight: 700;
	letter-spacing:7px;
	text-transform:uppercase;
}
.welcome-message {
	padding-top: 1.5em;
}
.rotate {
	text-shadow: none !important;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}

/* ------------------------------------------------------------------------------
   Search
-------------------------------------------------------------------------------*/
   
.form-control::-webkit-input-placeholder {
 color: #727272;
 font-weight: 300;
}
 .form-control:-moz-placeholder {
 color: #727272;
 font-weight: 300;
}
 .form-control::-moz-placeholder {
 color: #727272;
 font-weight: 300;
}
 .form-control:-ms-input-placeholder {
 color: #727272;
 font-weight: 300;
}
.sub-form {
	padding-top: 1.5em;
}
.center-block {
	float: none;
}
.form-control {
	background-color: #fff;
	border: 1px solid #fff;
	box-shadow: none;
	height: 50px;
	font-weight: 300;
}
.form-control:focus {
	border-color: #fff;
	outline: 0;
	box-shadow: none;
}
.input-group-btn>.btn:hover, .input-group-btn>.btn:focus, .input-group-btn>.btn:active {
	z-index: 1;
}
.btn-default {
	color: #fff;
	background-color: #ff5335;
	border-color: #ff5335;
 -webkit-transition: all .5s ease-out;
 transition: all .5s ease-out;
	padding: 12px 1.5em;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
	color: #fff;
	background-color: #d92709;
	border-color: #d92709;
}
.btn:active:focus, .btn-default:focus, .btn:focus, .btn-default:active {
	outline: none;
}
#mc-notification {
	margin: .75em 0 0;
	color: #FFF;
}

.center-block {
	float: none;
}

/* ------------------------------------------------------------------------------
   sidebar
-------------------------------------------------------------------------------*/
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}



/* ------------------------------------------------------------------------------
   Small devices (tablets, 768px and up)
-------------------------------------------------------------------------------*/
   
@media (min-width: 768px) {
 .main {
padding: 3em 0 7.5em;
}
 .logo {
 text-align: justify;
 margin-bottom: 0;
}
 .welcome-message {
padding-top: 6em;
}
 .social {
float: right;
}
 ul.countdown {
padding-top: 6em;
}
 ul.countdown li span {
font-size: 27px;
}
 ul.countdown li.seperator {
 font-size: 27px;
 padding: 0 20px;
}
}

/* ------------------------------------------------------------------------------
   Medium devices (desktops, 992px and up) 
-------------------------------------------------------------------------------*/
   
@media (min-width: 992px) {
 .main {
 padding: 3em 0 16em;
 position: fixed !important;
 top: 0;
 z-index: 1;
 width: 100%;
}
 .features, .twitter-feed, .contact, .site-footer {
 position: relative;
 z-index: 2;
}
 .welcome-message {
padding-top: 9em;
}
 .section-spacing {
padding: 6em 0;
}
 .features.section-spacing {
 padding: 6em 0 3em;
 margin-top: 46.8em;
}
 .product-features {
margin-bottom: 3.75em;
}
 .features.section-spacing, .contact {
background: #fff;
}
 .contact-form {
margin-top: 0;
}
 .animated {
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}
 @-webkit-keyframes fadeInUp {
0% {
opacity:0;
-webkit-transform:translate3d(0, 100%, 0);
transform:translate3d(0, 100%, 0);
}
100% {
opacity:1;
-webkit-transform:none;
transform:none;
}
}
@keyframes fadeInUp {
0% {
opacity:0;
-webkit-transform:translate3d(0, 100%, 0);
-ms-transform:translate3d(0, 100%, 0);
transform:translate3d(0, 100%, 0);
}
100% {
opacity:1;
-webkit-transform:none;
-ms-transform:none;
transform:none;
}
}
 .fadeInUp {
 -webkit-animation-name: fadeInUp;
 animation-name: fadeInUp;
}
}

/* ------------------------------------------------------------------------------
   small devices 
-------------------------------------------------------------------------------*/
   


@media (max-width: 320px) {
 ul.countdown li span {
font-size: 21px;
}
 ul.countdown li.seperator {
 font-size: 25.629px;
 vertical-align: top;
 padding: 0 2px;
}
 ul.countdown li p {
font-size: 12.642px;
}
}
