{% extends 'base.html' %}
{% load static from staticfiles %}
{% load product_tags %}

{% block title %}
    搜索结果
{% endblock %}


{% block body %}
    <div class="wrapper">
        <!-- Modal -->
{#        <div class="modal fade" id="loadModal" role="dialog" data-dismiss="modal">#}
{#            <div class="modal-dialog">#}
{#                <div class="modal-content text-center">#}
{#                    <div class="modal-body">#}
{#                        <img src="{% static 'gif/loading.gif' %}">#}
{#                    </div>#}
{#                    <div class="modal-footer text-center">#}
{#                     数据正在分析中...#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="sidebar">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text">
                        搜索列表
                    </a>
                </div>

                <ul class="nav">
                    {% if query %}

                        {% get_search_result_list page.object_list %}

                    {% endif %}

                </ul>

                {% if query %}
                    {% if page.has_previous or page.has_next %}
                        <div class="pager">
                            {% if page.has_previous %}
                                <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %} 上一页
                            {% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}
                                <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页
                            {% if page.has_next %}</a>{% endif %}
                        </div>
                    {% endif %}

                {% endif %}
            </div>
        </div>
        <div class="main-panel">
           {% include 'analysis.html' %}
        </div>
    </div>

{% endblock %}


{% block js %}
    <script type="text/javascript">
        $(function () {
            $("#set_click").trigger('click');
        });
        function set_img_c(c_p) {
            if (c_p[0] == 0) {
                $("#img-c").attr("src", c_p[1]);
            } else {
                $("#div-c").html(c_p[1]);
                exe_script(c_p[0]);
            }
        }
        function set_img_o(o_p) {
            if (o_p[0] == 0) {
                $("#img-o").attr("src", o_p[1]);
            } else {
                $("#div-o").html(o_p[1]);
                exe_script(o_p[0]);
            }
        }
        function set_img_h(h_p) {
            if (h_p[0] == 0) {
                $("#img-h").attr("src", h_p[1]);
            } else {
                $("#div-h").html(h_p[1]);
                exe_script(h_p[0]);
            }
        }

        function get_plot(id, ele) {
            $(ele).parent().addClass('active');
            $(ele).parent().siblings().removeClass('active');
            $.ajax({
                url: '/get_analysis_res/?p_id=' + id,
                type: 'GET',
{#                data: {#}
{#                    'p_id': id,#}
{#                    csrfmiddlewaretoken: '{{ csrf_token }}'   // csrfmiddlewaretoken添加csrf_token#}
{#                },#}
                dataType: 'JSON',
                success: function (res) {
                    var data = res.data;
                    if (res.status == 1) {
                        var i = 0;
                        p_imgs = data["p_analysis_imgs"];
                        c_p = p_imgs[0];
                        set_img_c(c_p);
                        o_p = p_imgs[1];
                        set_img_o(o_p);
                        h_p = p_imgs[2];
                        set_img_h(h_p);

                        $("#p-pic").attr('src',data["p_img"]);
                        $("#p-title").text(data['p_title']);
                        $("#p-score").text("总评分: " + data['p_c_score']);
                        $("#p-price").text("价格: " + data["p_price"]);
                        $("#p-url").attr('href',data["p_url"]);

                    } else {
                        alert(res.error_msg);
                    }
                }
            })
        }

        function exe_script(p_script) {
            p_script = p_script.replace(/<script type="text\/javascript">/,"").replace(/<\/script>/,"");
            eval(p_script);
        }

        //模态加载框垂直居中
{#        function centerModals() {#}
{#            $('#loadModal').each(function (i) {#}
{#                var $clone = $(this).clone().css('display', 'block').appendTo('body');#}
{#                var top = Math.round(($clone.height() - $clone.find('.modal-content').height()) / 2);#}
{#                top = top > 0 ? top : 0;#}
{#                $clone.remove();#}
{#                $(this).find('.modal-content').css("margin-top", top);#}
{#            });#}
{#        }#}
{#        $('#loadModal').on('show.bs.modal', centerModals);#}
{#        $(window).on('resize', centerModals);#}
    </script>
{% endblock %}