{% extends 'base.html' %}
{% load static from staticfiles %}
{% load product_tags %}

{% block title %}
    搜索结果
{% endblock %}

{% block extra %}
    <style> body{background-attachment: fixed;} </style>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text">
                        搜索列表
                    </a>
                </div>

                <ul class="nav">
                    {% if query %}

                        {% get_search_result_list page.object_list %}

                    {% endif %}

                </ul>

                {% if query %}
                    {% if page.has_previous or page.has_next %}
                        <div>
                            {% if page.has_previous %}
                                <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页
                            {% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}
                                <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;
                            {% if page.has_next %}</a>{% endif %}
                        </div>
                    {% endif %}

                {% endif %}
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">瞄一瞄结果</a>
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                             <div class="card ">
                                <div class="header">
                                    <p class="category">华为</p>
                                </div>
                                <div class="content">
                                    1120
                                </div>
                            </div>

                             <div class="card">
                                <div class="header">
                                    <p class="category">评价总览</p>
                                </div>
                                <div class="content">
                                    <img id="img-o">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="header">
                                    <p class="category">好评率</p>
                                </div>
                                <div class="content">
                                    <img id="img-c">
                                </div>
                            </div>

                            <div class="card ">
                                <div class="header">
                                    <p class="category">热度</p>
                                </div>
                                <div class="content">
                                    <img id="img-h">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
    <script>
       $(function () {
           $("#set_click").trigger('click');
       });
       function get_plot(id,ele) {
           $(ele).parent().addClass('active');
           $(ele).parent().siblings().removeClass('active');
           $.ajax({
               url:'/make_plot/',
               type:'POST',
               data:{'p_id':id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'   // csrfmiddlewaretoken添加csrf_token
               },
               dataType:'JSON',
               success:function (data) {
                   base_url = "http://127.0.0.1:8080";
                   if(data.status == 1){
                        product_info = data.data;
                        p_imgs = product_info["p_analysis_imgs"];
                        $("#img-c").attr('src',base_url + p_imgs[0]);
                        $("#img-o").attr('src',base_url + p_imgs[1]);
                        $("#img-h").attr('src',base_url + p_imgs[2]);
                        console.log(p_imgs);
                   }else {
                        console.log("数据错误");
                   }
               }
           })
       }
    </script>
{% endblock %}