{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>菜鸟产品分析平台</title>
    <meta name="description" content="Coming Soon Responsive Template">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>
<body>

    {% block body %}
    
    {% endblock %}

    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/retina.min.js' %}"></script>
    <script src="{% static 'js/tweetie.min.js' %}"></script>
    <script src="{% static 'js/jquery.downCount.js' %}"></script>
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery.simple-text-rotator.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>